.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--secondary-list-color);
  width: 100%;
  padding: 3rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.footer .customer-service {
  background-color: transparent;
  margin: 15px;
}
.footer .customer-service span {
  background-color: transparent;
  font-size: 18px;
  color: #fff;
}
.footer .customer-service p {
  background-color: transparent;
  font-size: 12px;
  color: #fff;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
  }

  .footer .customer-service {
    margin-left: 250px;
    width: 100%;
  }

  .footer .customer-service span {
    background-color: transparent;
    font-size: 25px;
    color: #fff;
  }

  .footer .customer-service p {
    background-color: transparent;
    font-size: 12px;
    color: #fff;
  }
}
@media (min-width: 768px) {
  .footer .customer-service {
    margin-left: 100px;
    width: 100%;
  }

  .footer .customer-service span {
    background-color: transparent;
    font-size: 25px;
    color: #fff;
  }

  .footer .customer-service p {
    background-color: transparent;
    font-size: 12px;
    color: #fff;
  }
}
