.product-container {
  width: 200px;
  height: 270px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
  position: relative;
  border-radius: 3px;
}
.product-container .image {
  width: 100%;
}
.description {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px;
  letter-spacing: 0.5px;
}
.description h3 {
  margin: 0;
  color: var(--secondary-list-color);
}

.description span {
  background-color: var(--primary-color);
  padding: 15px 10px;
  border-radius: 3px;
  font-weight: bold;
  color: var(--secondary-list-color);
}
