form {
  background-color: rgb(234, 224, 226, 0.3);
  padding: 2rem;
  height: 60vh;
  position: relative;
  width: 100%;
}
.form-control {
  overflow: hidden;
  margin: 1rem;
  width: 100%;
  height: 100px;
  background-color: transparent;
  margin: auto;
}
.form-control label {
  margin-right: 10px;
  background-color: transparent;
}
.form-control .error-text {
  background-color: transparent;
  color: red;
}
.form-control input {
  width: 150px;
  height: 30px;
  border-radius: 4px;
}
.form-control textarea {
  position: absolute;
  height: 200px;
  width: 150px;
}

.form-actions {
  border: none;
  border-radius: 4px;
  width: 100px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.form-actions:hover {
  background-color: rgba(224, 224, 224, 0.8);
}

@media (min-width: 768px) {
  form {
    width: 100%;
    height: 500px;
  }
  .form-control {
    margin: 1rem auto 0.5rem auto;
    width: 100%;
    height: 100px;
    background-color: transparent;
  }
  .form-control input {
    width: 250px;
    height: 35px;
    border-radius: 4px;
  }
  .form-control textarea {
    position: absolute;
    height: 200px;
    width: 550px;
  }
  .form-control .error-text {
    background-color: transparent;
    color: red;
  }
} ;
