.img-container {
  position: relative;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  height: 425px;
  width: 100%;
  overflow: hidden;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
.image-container.active {
  transform: translateX(-390px);
}
.image-container.increase {
  transform: translateX(-780px);
}
.slider-img {
  height: 390px;
  width: 420px;
  min-width: 400px;
}
.button-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: transparent;
}
.btn {
  background-color: var(--main-list-color);
  opacity: 0.4;
  font-size: 12px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  text-align: center;
  border-radius: 50px;
  background-color: var(--secondary-list-color);
}

.btn:hover {
  opacity: 0.8;
}
.btn:focus {
  outline: none;
}

@media (min-width: 410px) {
  .b-container {
    display: block;
    width: 100%;
    position: relative;
    height: 500px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: rgba(210, 198, 196, 0.3);
    overflow: hidden;
    margin: 1rem 0;
  }
  .img-container {
    box-shadow: none;
    width: 390px;
    height: 500px;
    margin: auto;
  }

  .image-container {
    display: flex;
    width: 390px;
    height: 550px;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
  }

  .slider-img {
    height: 500px;
    width: 100%;
    object-fit: cover;
  }
  .image-container.active {
    transform: translateX(-100%);
  }
  .image-container.increase {
    transform: translateX(-200%);
  }
  .button-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: transparent;
  }
  .btn {
    background-color: var(--main-list-color);
    opacity: 0.4;
    font-size: 12px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    text-align: center;
    border-radius: 50px;
  }

  .btn:hover {
    opacity: 0.8;
  }
  .btn:focus {
    outline: none;
  }
} ;
