nav {
  width: 100%;
  height: 45px;
  background-color: var(--primary-color);
  position: relative;
  z-index: 9;
}

.title {
  font-size: 26px;
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  background-color: transparent;
  text-align: center;
  color: var(--seondary-list-color);
  text-transform: uppercase;
}
.cart {
  color: var(--secondary-list-color);
  position: fixed;
  top: 10px;
  right: 10px;
  text-align: center;
  position: absolute;
}
.cart svg {
  background-color: transparent;
}

button {
  border: none;
  z-index: 999;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
}
.open-nav {
  text-align: center;
  color: var(--secondary-list-color);
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9;
}

.open-nav svg {
  border: none;
  background-color: transparent;
}
.navbar-list {
  opacity: 0;
  transition: opacity 0.3s ease-in;
  height: 0;
  overflow: hidden;
}

.navbar-list.active {
  opacity: 1;
  height: auto;
}

.navbar-list.active svg {
  border: none;
  background-color: transparent;
}

.navbar-list svg {
  color: var(--main-list-color-color);
  border: none;
  background-color: transparent;
}

.close-nav {
  color: (--secondary-list-color);
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 10px;
}

.list {
  margin: 50px 50px;
  list-style-type: none;
}

.list li {
  font-size: 20px;
  color: var(--secondary-list-color);
  border-bottom: 0.5px solid var(--main-list-color);
}

.list li a {
  color: var(--secondary-list-color);
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.list ul {
  list-style-type: none;
}
