.image-content {
  margin-bottom: 3rem;
  width: 100%;
}
.image-content img {
  height: 250px;
  width: 100%;
  opacity: 0.9;
}
.content-container {
  background-color: rgb(234, 224, 226, 0.3);
  padding: 3rem;
  margin-bottom: 3rem;
}
.content {
  font-size: 14px;
  background-color: transparent;
}

@media (min-width: 738px) {
  .about-page {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
  }
  .image-content {
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 50%;
    height: 400px;
  }
  .image-content img {
    height: 100%;
    width: 100%;
    opacity: 0.9;
  }
  .content-container {
    margin-top: 2rem;
    background-color: rgb(234, 224, 226, 0.3);
    padding: 5rem;
    margin-bottom: 3rem;
    width: 50%;
    height: 400px;
  }
  .content {
    font-size: 18px;
    background-color: transparent;
  }
} ;
